@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form id="searchForm" method="post">
    <p>Search dog breed names here:</p>
    <input type="text" name="searchValue" id="search_value" />
    <fieldset id="breed-group">
        <label><input type="radio" name="breedType" value="both" id="both" /> Both</label>
        <label><input type="radio" name="breedType" value="main_breed" id="main_breed" /> Main breed</label>
        <label><input type="radio" name="breedType" value="sub_breed" id="sub_breed" /> Sub breed</label>
    </fieldset>
    <input type="submit" value="search" id="search" />
</form>

<p>Matched records: </p>
@if (@Model.IfSubmit)
{
    @if (@Model.ResultSet)
    {
        @foreach (var Result in Model.ResultList)
        {
            <p>Breed name: <output id="search_result">@Result</output></p>

        }
    }
    else
    {
        <p>No matched records</p>

    }
}




