@page
@model DogBreed.Pages.BreedList.ShowImageModel
@{
}


<link href="~/css/style.css" rel="stylesheet" type="text/css" />

<h2>Click the image to change a new one!</h2>





@if (Model.APIError)
{
    <p>Oops! The image is missing</p>

}
else
{
    <a href="javascript:document.location.reload(true);"><img src=@Model.imageUrl alt="random_image" width="600px" /> </a>

}